@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

body {
    font-family: 'Lato', sans-serif;
    text-align: right;
    border: 20px solid #BDC3C7;
    border-radius: 30px;
    padding:20px;
    width: 80%;
}

h2 {
    font-size: 48px;
    letter-spacing: 3.2px;
    color: #3D3D3D;
    text-align: left;
}
h2:hover {
    letter-spacing: 20px;
    text-align: center;
}

h3 {
    color: #3498db; 
    text-transform: uppercase;
}

div {
    border-bottom: solid 5px #BDC3C7;
}

.end {
    border-bottom: #BDC3C7 10px solid;
}